---
layout: default
group: main
title: Home
layout: home
---
<div class="ryoko" style="background-image: url({{ '/img/cool-background.png' | prepend: site.baseurl }})">
    <div class="ryoko-body">
        <div class="ryoko-faded ryoko-shadow text-white px-3 py-3 my-3 mx-3">
            <h1>{{ page.title }}</h1>
            <p>{{ site.description }}</p>
        </div>
    </div>
</div>

<div class="container py-3">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- disjfa.github.io -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3233152001180132"
         data-ad-slot="6243839379"
         data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="container py-3">
    {% for page in site.pages %}
        {% if page.type %}
            <div class="pb-3">
                <h3>{{ page.title }}</h3>
                <p>
                    {{ page.lead }}
                </p>
                <a href="{{ page.url | prepend: site.baseurl }}" aria-label="Read more about {{ page.title }}">
                    <i class="fa fa-arrow-right"></i>
                    Read more
                </a>
            </div>
            <hr>
        {% endif %}
    {% endfor %}
</div>
